.table{
    width: 100%;
    border-collapse: collapse;
  tr{
    border-bottom: 1px solid map_get($palette, placeholder);
  }
  th{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid map_get($palette, text);
    @include mq(sm){
      padding: 10px 5px;
    }
  }
  td{
    padding: 15px;
    @include mq(sm){
      padding: 5px;
    }
  }
  img{
    vertical-align: middle;
  }
  &__task{
    max-width: 270px;
    @include mq(xs){
      min-width: 260px;
    }
  }
}