<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <p class="footer__p">
                    © 2019 Cybrics hackaton
                </p>
                <p class="footer__p">
                    Разработка © 2019  Департамент информационных технологий
                </p>
            </div>
            <div class="col-lg-4 col-md-4 footer__logo align-content-center">
                <img src="img/logo_itmo.svg" alt="" class="footer__logo-img">
            </div>
            <div class="col-lg-4 col-md-4 footer__politic">
                <p>
                    <a class="footer__politic-link" href="#">Политика по обработке Персональных данных</a>
                </p>
            </div>
        </div>
    </div>
</section>