<section class="news carousel section section--top">
    <div class="section__heading section__heading--sm-white">
        News
    </div>
    <div class="owl-carousel owl-carousel-four">
        <a href="#" class="news__item">
            <p class="news__item-heading">
                News
            </p>
            <p class="news__item-date">
                14 october 2017
            </p>
            <p class="news__item-text">
                14 Oct 2017 21:00 MSK — The game is finished! No more flag submits are accepted. Congratulations to Kaimi, rrock, StAlKeR7779, juwilie and n0n3m4 for being the Top-5 Overall in hack you '17 CTF! Thanks to everyone playing, and especially to 57 players from SPbCTF!
            </p>
        </a>
        <div class="news__item">
            <p class="news__item-heading">
                News
            </p>
            <p class="news__item-date">
                14 october 2017
            </p>
            <p class="news__item-text">
                14 Oct 2017 21:00 MSK — The game is finished! No more flag submits are accepted.
            </p>
        </div>
        <!--Если новости нет-->
        <div class="news__item news__item--empty">
            <svg class="news__item-default">
                <use xlink:href="#logo"></use>
            </svg>
            <p class="news__item-text news__item-text--empty">
                news coming soon
            </p>
        </div>
        <div class="news__item">
            <p class="news__item-heading">
                News
            </p>
            <p class="news__item-date">
                14 october 2017
            </p>
            <p class="news__item-text">
                14 Oct 2017 21:00 MSK — The game is finished! No more flag submits are accepted.
            </p>
        </div>
        <div class="news__item">
            <p class="news__item-heading">
                News
            </p>
            <p class="news__item-date">
                14 october 2017
            </p>
            <p class="news__item-text">
                14 Oct 2017 21:00 MSK — The game is finished! No more flag submits are accepted. Congratulations to Kaimi, rrock, StAlKeR7779, juwilie and n0n3m4 for being the Top-5 Overall in hack you '17 CTF! Thanks to everyone playing, and especially to 57 players from SPbCTF!
            </p>
        </div>
    </div>
</section>