<section class="organizers carousel section">
    <div class="section__heading section__heading--orange">The organizers</div>
    <div class="owl-carousel-four owl-carousel">
        <div class="organizers__item d-flex align-items-center justify-content-center">
            <img src="img/org1.png" alt="" class="organizers__item-img">
        </div>
        <div class="organizers__item d-flex align-items-center justify-content-center">
            <img src="img/default_news.png" alt="" class="organizers__item-img">
        </div>
        <div class="organizers__item d-flex align-items-center justify-content-center">
            <img src="img/org1.png" alt="" class="organizers__item-img">
        </div>
        <div class="organizers__item d-flex align-items-center justify-content-center">
            <img src="img/org1.png" alt="" class="organizers__item-img">
        </div>
        <div class="organizers__item d-flex align-items-center justify-content-center">
            <img src="img/org1.png" alt="" class="organizers__item-img">
        </div>
    </div>
</section>