<section class="section">
    <div class="row">
        <div class="col-lg-6 section__col">
            <div class="section__heading section__heading--orange">
                People Stats
            </div>
            <div class="section__block">
                <p>
                    # of People Registered Since Announce: <b>1708</b>
                </p>
                <p>
                    # of People Logged In Since CTF Start (who seen tasks): <b>986 (58 %)</b>
                </p>
                <p>
                    # of People Tried Submiting Flags (who tried tasks): <b>475 (48 %)</b>
                </p>
                <p>
                    # of People Submitted Correct Flags (who solved tasks): <b>369 (37 %)</b>
                </p>
            </div>
        </div>
        <div class="col-lg-6 section__col">
            <div class="section__heading section__heading--orange">
                Flag Stats
            </div>
            <div class="section__block">
                <p>
                    Total Flag Submits: <b>7 826</b>
                </p>
                <p>
                    Total Flag Accepts: <b>1 725</b>
                </p>
                <p>
                    Overall Bruteforcer Factor: <b>77.9 %</b>
                </p>
                <p>
                    Total Scored Points: <b>161 930</b>
                </p>
                <p>
                    First Accept: <b>n0n3m4: "hy17{d92f34...6146}" for Palevo at 8 Oct 2017 21:00:59 MSK</b>
                </p>
                <p>
                    Last Accept: <b>shagrath: "HY{8U115_N_C0W5_15_C1455iK}" for Oracles Network at 14 Oct 2017 20:59:29 MSK</b>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="section__heading section__heading--orange">
                Overall Scores
            </div>
            <div class="wrap-scroll">
                <table class="table">
                    <tr class="table__header">
                        <th>#</th>
                        <th>Winer</th>
                        <th>From</th>
                        <th>Score</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Kaimi</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Astrakhan
                        </td>
                        <td>4170</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>rrock</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Novosibirsk
                        </td>
                        <td>4140</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>StALKeR7779</td>
                        <td>
                            <img src="img/unknown.png" alt="">
                            Unknown
                        </td>
                        <td>3850</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>juwille</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Novosibirsk
                        </td>
                        <td>2750</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>n0n3m4</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Astrakhan
                        </td>
                        <td>2720</td>
                    </tr>
                </table>
            </div>
            <a href="#" class="arrow-link">
                Full-size Overall Scoreboard
                <svg class="arrow-link__icon">
                    <use xlink:href="#arrow"></use>
                </svg>
            </a>
        </div>
        <div class="col-lg-6">
            <div class="section__heading section__heading--orange">
                OSPbCTF Scores
            </div>
            <div class="wrap-scroll">
                <table class="table">
                    <tr class="table__header">
                        <th>#</th>
                        <th>Winer</th>
                        <th>From</th>
                        <th>Score</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Kaimi</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Astrakhan
                        </td>
                        <td>4170</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>rrock</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Novosibirsk
                        </td>
                        <td>4140</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>StALKeR7779</td>
                        <td>
                            <img src="img/unknown.png" alt="">
                            Unknown
                        </td>
                        <td>3850</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>juwille</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Novosibirsk
                        </td>
                        <td>2750</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>n0n3m4</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Astrakhan
                        </td>
                        <td>2720</td>
                    </tr>
                </table>
            </div>
            <a href="#" class="arrow-link">
                Full-size SPbCTF Scoreboard
                <svg class="arrow-link__icon">
                    <use xlink:href="#arrow"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
<section class="section">
    <div class="section__heading section__heading--orange">
        Stats by Tasks
    </div>
    <div class="wrap-scroll">
        <table class="table">
            <tr class="table__header">
                <th>Task</th>
                <th>Total Accepts</th>
                <th>Total Submits</th>
                <th>Bruteforcer Factor</th>
            </tr>
            <tr>
                <td>Palevo</td>
                <td>208 (12.1 %)</td>
                <td>208 (12.1 %)</td>
                <td>208 (12.1 %)</td>
            </tr>
            <tr>
                <td>Attic</td>
                <td>78 (4.5 %)</td>
                <td>78 (4.5 %)</td>
                <td>78 (4.5 %)</td>
            </tr>
            <tr>
                <td>ProtSSH</td>
                <td>31 (1.8 %)</td>
                <td>31 (1.8 %)</td>
                <td>31 (1.8 %)</td>
            </tr>
            <tr>
                <td>Old school</td>
                <td>69 (4 %)</td>
                <td>69 (4 %)</td>
                <td>69 (4 %)</td>
            </tr>
            <tr>
                <td>Three Point Five Inches Reborn</td>
                <td>46 (2.7 %)</td>
                <td>46 (2.7 %)</td>
                <td>46 (2.7 %)</td>
            </tr>
        </table>
    </div>
</section>
<section class="section">
    <div class="section__heading section__heading--orange">
        Write ups
    </div>
    <p>
        Please publish your write-ups in English or Russian and throw us links via Telegram: @hackyou17 or E-mail:
        hackyou@ctf.su
    </p>
    <p>
        Will be also useful to tweet them with hashtag #hackyou :)
    </p>
    <div class="wrap-scroll">
        <table class="table">
            <tr class="table__header">
                <th>Added</th>
                <th>Author</th>
                <th>Language</th>
                <th>Link</th>
                <th>Tasks in the Write-up</th>
            </tr>
            <tr>
                <td>19 Oct 2017 17:03:42</td>
                <td>AetherEternity</td>
                <td>
                    <img src="img/russia.png" alt="">
                </td>
                <td><a href="github.com/AetherEternity/ctf-writeups/tree/master/hackyou2017">github.com/AetherEternity/ctf-writeups/tree/master/hackyou2017</a></td>
                <td class="table__task">
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>

                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>

                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>

                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                </td>
            </tr>
            <tr>
                <td>19 Oct 2017 17:03:42</td>
                <td>texh0k0t</td>
                <td>
                    <img src="img/russia.png" alt="">
                </td>
                <td><a href="github.com/texh0k0t/writeups/blob/master/hackyou17/">github.com/texh0k0t/writeups/blob/master/hackyou17/</a></td>
                <td class="table__task">
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>

                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>

                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                </td>
            </tr>
            <tr>
                <td>19 Oct 2017 17:03:42</td>
                <td>StAlKeR7779</td>
                <td>
                    <img src="img/russia.png" alt="">
                </td>
                <td><a href="github.com/AetherEternity/ctf-writeups/tree/master/hackyou2017">telegra.ph/HackYou-2017-Write-Ups-10-17</a></td>
                <td class="table__task">
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>

                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span><span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>

                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-green.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title=" with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock  Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with ">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                    <span class="data-title" data-title="Unlock with Watch">
                         <img src="img/cube-red.png" alt="cube" class="stat-block__row-img">
                    </span>
                </td>
            </tr>
        </table>
    </div>
</section>