<section class="section task">
    <div class="section__heading section__heading--orange">
        Network 300
    </div>
<!--    Класс task-block--ready добавляем, если задача готова-->
    <div class="task-block task-block--ready">
        <div class="task-block__heading">
            Network 300
        </div>
        <div class="task-block__text">
            <p>
                Author: Kseniya Kravtsova (ksvark) and Vlad Roskov (vos)
            </p>
            <p>
                Open source intelligence.
            </p>
            <p>
                Help the Network: <a href="https://hy17-fbi.spb.ctf.su/">https://hy17-fbi.spb.ctf.su/</a>
            </p>
        </div>
        <div class="task-block__form form">
            <form action="" class="row align-items-end">
                <div class="form__row col-lg-7">
                    <label class="form__row-label">Flag</label>
                    <input type="text" class="form__row-input" placeholder="flag">
                </div>
                <div class="col-lg-5">
                    <input type="submit" class="button task-block__form--btn" value="Check">
                </div>
            </form>
        </div>
        <svg class="task-block__icon">
            <use xlink:href="#check"></use>
        </svg>
    </div>
    <div class="d-flex flex-wrap task-list">
<!--   Если задание выполнено, то есть класс checked -->
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap checked task-list__item-wrap--reverce">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--network">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--ctb">
                200
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--forensic">
                300
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--csim">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--web">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--misc">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--reverce">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--network">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--ctb">
                300
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--forensic">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--csim">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--web">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--misc">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap checked task-list__item-wrap--reverce">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap checked task-list__item-wrap--reverce">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--network">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--ctb">
                200
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--forensic">
                300
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--csim">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--web">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--misc">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--reverce">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--network">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--ctb">
                300
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--forensic">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--csim">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--web">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--misc">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap checked task-list__item-wrap--reverce">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap checked task-list__item-wrap--reverce">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--network">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--ctb">
                200
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--forensic">
                300
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--csim">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--web">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--misc">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--reverce">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--network">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--ctb">
                300
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--forensic">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--csim">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--web">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap task-list__item-wrap--misc">
                100
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
        <div class="task-list__item">
            <a href="#" class="task-list__item-wrap checked task-list__item-wrap--reverce">
                10
                <span class="task-list__wrap-hover"></span>
            </a>
        </div>
    </div>
</section>