<section class="section">
    <div class="section__heading section__heading--orange">
        Tasks
    </div>
    <div class="d-flex flex-wrap tasks">
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--network">
                <div class="tasks__item-heading">
                    Network
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Unlock with Watch
                </div>
    <!--            Для завершенных тасков-->
                <div class="tasks__item-ready">
                    <svg class="tasks__ready-icon">
                        <use xlink:href="#check"></use>
                    </svg>
                </div>
    <!--            Для завершенных тасков-->
                <div class="tasks__item-hover"></div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--forensic">
                <div class="tasks__item-heading">
                    Forensic
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Attic
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--ctb">
                <div class="tasks__item-heading">
                    CTB
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    ProtSSH
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--reverce">
                <div class="tasks__item-heading">
                    Reverce
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Old school
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--misc">
                <div class="tasks__item-heading">
                    Misc
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Tonal
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--csim">
                <div class="tasks__item-heading">
                    csiM
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Lonely
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--web">
                <div class="tasks__item-heading">
                    Web
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Palevo
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--network">
                <div class="tasks__item-heading">
                    Network
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Weirdie
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--reverce">
                <div class="tasks__item-heading">
                    Reverce
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Old school
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--web">
                <div class="tasks__item-heading">
                    Web
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Palevo
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--network">
                <div class="tasks__item-heading">
                    Network
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Weirdie
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--csim">
                <div class="tasks__item-heading">
                    csiM
                </div>
                <div class="tasks__item-num">
                    200
                </div>
                <div class="tasks__item-text">
                    Lonely
                </div>
                <div class="tasks__item-hover">
                </div>
            </a>
        </div>
        <div class="tasks__col col2">
            <a href="#" class="tasks__col-item tasks__col-item--misc">
                <div class="tasks__item-heading">
                    Misc
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    FBI
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--forensic">
                <div class="tasks__item-heading">
                    Forensic
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Attic
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--ctb">
                <div class="tasks__item-heading">
                    CTB
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    ProtSSH
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col2">
            <a href="#" class="tasks__col-item tasks__col-item--network">
                <div class="tasks__item-heading">
                    Network
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    ProtSSH
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--ctb">
                <div class="tasks__item-heading">
                    CTB
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    ProtSSH
                </div>
                <div class="tasks__item-hover">
                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--csim">
                <div class="tasks__item-heading">
                    csiM
                </div>
                <div class="tasks__item-num">
                    200
                </div>
                <div class="tasks__item-text">
                   Lonely
                </div>
                <div class="tasks__item-hover">
                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--web">
                <div class="tasks__item-heading">
                    Web
                </div>
                <div class="tasks__item-num">
                    100
                </div>
                <div class="tasks__item-text">
                    Palevo
                </div>
                <div class="tasks__item-hover">
                </div>
            </a>
        </div>
        <div class="tasks__col col1">
            <a href="#" class="tasks__col-item tasks__col-item--network">
                <div class="tasks__item-heading">
                    Network
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Unlock with Watch
                </div>
                <div class="tasks__item-hover">

                </div>
            </a>
        </div>
        <div class="tasks__col col2">
            <a href="#" class="tasks__col-item tasks__col-item--reverce">
                <div class="tasks__item-heading">
                    Reverce
                </div>
                <div class="tasks__item-num">
                    10
                </div>
                <div class="tasks__item-text">
                    Old school
                </div>
                <div class="tasks__item-hover">
                </div>
            </a>
        </div>
    </div>
</section>