<section class="section top-5">
    <div class="row">
        <div class="col-lg-9">
            <div class="section__heading section__heading--orange">
                Overall <span class="section__heading--accent">Top-5</span>
            </div>
            <div class="wrap-scroll">
                <table class="table">
                    <tr class="table__header">
                        <th>#</th>
                        <th>Winer</th>
                        <th>From</th>
                        <th>Score</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Kaimi</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Astrakhan
                        </td>
                        <td>4170</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>rrock</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Novosibirsk
                        </td>
                        <td>4140</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>StALKeR7779</td>
                        <td>
                            <img src="img/unknown.png" alt="">
                            Unknown
                        </td>
                        <td>3850</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>juwille</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Novosibirsk
                        </td>
                        <td>2750</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>n0n3m4</td>
                        <td>
                            <img src="img/russia.png" alt="">
                            Astrakhan
                        </td>
                        <td>2720</td>
                    </tr>
                </table>
            </div>
            <a href="#" class="arrow-link">
                Scoreboards
                <svg class="arrow-link__icon">
                    <use xlink:href="#arrow"></use>
                </svg>
            </a>
        </div>
        <div class="col-lg-3">
            <div class="section__heading section__heading--orange">
                Next
            </div>
            <div class="next">
                <div class="next__heading">Network</div>
                <div class="next__num">300 </div>
                <div class="next__text">Unlock with Watch</div>
                <div class="next__circle next__circle--one d-flex justify-content-center align-items-center">
                    <div class="next__circle next__circle--two d-flex justify-content-center align-items-center">
                        <div class="next__circle next__circle--tree"></div>
                    </div>
                </div>
            </div>
            <a href="#" class="arrow-link">
                All Tasks
                <svg class="arrow-link__icon">
                    <use xlink:href="#arrow"></use>
                </svg>
            </a>
        </div>
    </div>
</section>