.stat{
  display: flex;
  flex-direction: column;

  &-block{
    flex-grow: 1;
    padding: 20px 30px 0 30px;
    margin: 10px 0;
    height: 100%;
    font-size: 16px;
    color: map_get($palette, text);
    background-color: map_get($palette, bg);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    @include mq(sm){
      padding-bottom: 30px;
      font-size: 14px;
    }
    &__row{
      &-img{
        vertical-align: middle;
      }
    }
  }
}