.user-stat{
  font-size: 16px;
  font-weight: map_get($font, semi-bold);
  color: map_get($palette, bg);
  &__name{
    padding-left: 55px;
    @include mq(md){
      padding-left: 15px;
    }
    @include mq(sm){
      padding-left: 0;
    }
  }
}