body{
  position: relative;
  font-size: map_get($font-size, md);
  line-height: 1.5;
  font-family: map_get($font, main);
  font-weight: map_get($font, normal);
  color:map_get($palette, text);
  background-color: map_get($palette, bg);
  @include mq(sm){
    font-size: map_get($font-size, sm);
  }
  @include mq(xs){
    font-size: map_get($font-size, xs);
  }
}
body.unscroll{
  overflow-y: hidden;
}

h1,h2,h3{
  margin: 0;
  color: map_get($palette, accent-main);
  font-family: map_get($font, accent);
  font-weight: map_get($font, bold);
}

h1{
  font-size: 64px;
  @include mq(sm){
    font-size: 34px;
  }
}

p{
  margin-top: 5px;
  margin-bottom: 10px;
}

a{
  color: map_get($palette, accent-bright);
  &:hover{
    text-decoration: none;
  }
}

img{
  max-width: 100%;
}

*{
  outline: none;
}

.wrap-scroll{
  @include mq(sm){
    overflow-x: scroll;
  }
}
.o-hidden{
  overflow: hidden;
}

.ac{
  text-align: center;
}

.ar{
  text-align: right;
}

.m-t{
  margin-top: 25px;
}
.m-b{
  margin-bottom: 25px;
}

.arrow-link{
  position: relative;
  display: block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  color: map_get($palette, task-reverce);
  transition: $transition;
  &__icon{
    position: relative;
    top:2px;
    right: -5px;
    width: 10px;
    height: 15px;
    fill: map_get($palette, task-reverce);
  }
  &:hover{
    color: map_get($palette, accent-dark);
    .arrow-link__icon{
      fill: map_get($palette, accent-dark);
    }
  }
}

.data-title{
  position: relative;
  display: inline-block;
  &:hover{
    &:after{
      position: absolute;
      display: inline-block;
      content: attr(data-title);
      bottom:100%;
      transform: translateX(-50%);
      padding: 5px;
      width: max-content;
      border-radius: 2px;
      font-size: 11px;
      color: map_get($palette, bg);
      background-color: map_get($palette, text);
      box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.3);
    }
    &:before{
      position: absolute;
      top:-4px;
      display: inline-block;
      content: '';
      width: 8px;
      height: 8px;
      background-color: map_get($palette, text);
      transform: rotate(45deg);
      z-index: z(pseudo);
    }
  }
}

.button{
  display: inline-block;
  padding: 10px 24px;
  min-width: 140px;
  color: map_get($palette, bg);
  font-family: map_get($font, main);
  font-weight: map_get($font, normal);
  font-size: 14px;
  line-height: 19px;
  background-color: map_get($palette, accent-main);
  border: none;
  border-radius: 90px;
  transition: $transition;
  cursor: pointer;
  &:hover{
    background-color: map_get($palette, accent-hover);
  }
}